@page "/categoria/edit/{categoriaid:int}"
@inject HttpClient  http
@inject NavigationManager navigation

<h2>Editar Categoria</h2>

<CategoriaForm Categoria="@categoria" OnValidSubmit="@EditarCategoria"
               ButtonTextSubmit="Salvar" ButtonTextCancelar="Cancelar">

</CategoriaForm>

@code {

    [Parameter]
    public int categoriaid { get; set; }

    Categoria categoria = new Categoria();

    protected async override Task OnParametersSetAsync()
    {
        categoria = await http.GetJsonAsync<Categoria>($"api/categoria/{categoriaid}");
    }

    async Task EditarCategoria()
    {
        await http.PutJsonAsync("api/categoria", categoria);
        navigation.NavigateTo("categoria");
    }
}