@page "/"

<title>Door2Door</title>
<h1>Catálogo de Produtos</h1>
<br />
@*<img src="/images/logo.png" class="img-fluid" id="logo-sultan" img/>
*@
<hr />

<h4>Reinaldo Maciel de Freitas - RGM: 24432318</h4>
